.main {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.imageWrapper {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.imageWrapper {
  position: relative;
  padding-top: 75%; /* This creates a 4:3 aspect ratio container */
}

.image {
  object-fit: contain;
}

.container {
  padding: 1rem;
}

.description {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  line-height: 1.5;
  color: rgb(169, 162, 162);
  font-family: 'CommitMono';
  text-align: center;
}

.shmain {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'CommitMono';
}

.shmasititle {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'CommitMono';
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'CommitMono';
}

.infoContainer {
  display: grid;
  grid-template-columns: 1fr auto; /* Left column takes available space, right column auto-sized */
  gap: 1rem;
  align-items: center; /* Vertically center items */
  margin-bottom: 2rem;
}

.personalInfo {
  text-align: center;
  margin-bottom: 1rem;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.jobTitle {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.location {
  font-size: 1.1rem;
}

.contactInfo {
  display: flex;
  justify-content: center;
  gap: 0.5rem; /* Space between email and Instagram link */
  padding-top: 1vh;
}

.email, .instagram {
  font-size: 1rem;
  color: #868686;
  text-decoration: none;
}

.email:hover, .instagram:hover {
  text-decoration: underline;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5vh;
}

.logo {
  /* Add any additional styling if needed */
}